body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #333;
    color: #FFF;
    height: 100%;
    padding: 20px;
    width: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #999;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 0 16px 0;
    width: 100%;
}

.card .title {
    background-color: #555;
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.card .title .led {
    float: right;
}

.card .title .subtitle1, .card .title .subtitle2 {
    color: #FFF;
    font-size: 14px;
}

.card .title .subtitle2 {
    font-style: italic;
}

.card .content {
    padding: 10px;
    display: block;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card .body1, .card .body2 {
    font-size: 14px;
    color: #333;
}

.card .body2 {
    font-style: italic;
}

.card .action {
    background-color: #555;
    margin-top: 20px;
    
    padding: 10px;
}

table {
    /* limit the height of the table */
    
    overflow-y: hidden;
    
    /* set the width of the table */
    width: 100%;
    border-collapse: collapse;
    color: #333;
    font-size: 11px;
}

th,
td {
    /* set the width of the columns */
    width: auto;
    /* set the border of the table lik google sheet */
    border: 1px solid #CCC;
    padding: 2px;
    text-align: center;
    font-weight: lighter;
}

th {
    background-color: #EEE;
}

td {
    background-color: #FFF;
} 

td.active {
    background-color: #FF0;
    cursor: crosshair;
}
/* set the width of the first column as google sheet style */
td:first-child {
    max-width: 60px;
    background-color: #EEE;
    border: 1px ridge #AAA;
}

.report {
    width: 100%;
    border-collapse: collapse;
}

.caption {
    width: 100%;
    font-size: 12px;
    background-color: #BBB;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
}

.report-cell {
    text-align: center;
    cursor: pointer;
}

.text-editor .toolbar {
    display: block;
    margin-top: 10px;

}

.textarea {
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 0;
    border: 0;
    resize: none;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    word-break: break-all;
    word-spacing: normal;
}

.button {
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    min-width: 80px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button.small {
    min-width: 60px;
    padding: 4px 10px;
    font-size: 12px;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
}

.button.disabled {
    background-color: #ccc;
}

.button-primary {
    background-color: #2196F3;
}

.success {
    background-color: #4CAF50;
    /* Green */
}

.error {
    background-color: #f44336;
    /* Red */
}

.warn {
    background-color: #ff9800;
    /* Red */
}

.primary {
    background-color: #2196F3;
    /* Blue */
}

.primary-dark {
    background-color: #1976d2;
    /* Blue */
}

.accent {
    background-color: #ff4081;
    /* Blue */
}

.info {
    background-color: #00bcd4;
    /* Blue */
}

.secondary {
    background-color: #607d8b;
    /* Blue */
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}