<!-- JavaScript -->
<script>

    (function () {
        const PAGE_SIZE = 3;
        //resource = 
        const addon = this;
        // Global_Resources
        const Global_Resources = {
            version: '0.0.1',
            en: {
                "appTitle": "JSON Studio",
                "loading": "Loading... please wait",
                "refresh": "Refresh",
                "minifyAll": "Minify All",
                "prittfyAll": "Prittfy All",
                "nextPage": "Next Page",
                "cancel": "Cancel",
                "save": "Save",
                "highlight": "Highlight",
                "prittfy": "Prittfy",
                "minify": "Minify",
                "done": "Done",
                "notImplemented": "Not implemented",
                "error": "Error: ",
                "noValues": "No values in the selected range",
                "status": "Status",
                "report": "Report",
                "textEditor": "Text Editor",
                "totalCells": "Total cells",
                "totalSuccess": "Total success",
                "totalFail": "Total fails",
                "a1nNotation": "A1 Notation range",
                "numColumns": "Number of columns",
                "numRows": "Number of rows",
                "pageSize": "Page size",
                "offset": "Offset",
                "nextOffset": "Next offset"
            },
            fr: {
                "appTitle": "JSON Studio",
                "loading": "Chargement... veuillez patienter",
                "refresh": "Actualiser",
                "minifyAll": "Minifier tout",
                "prittfyAll": "Prittfy tout",
                "nextPage": "Page suivante",
                "cancel": "Annuler",
                "save": "Enregistrer",
                "highlight": "Surligner",
                "prittfy": "Prittfy",
                "minify": "Minifier",
                "done": "Terminé",
                "notImplemented": "Non implémenté",
                "error": "Erreur: ",
                "noValues": "Pas de valeurs dans la plage sélectionnée",
                "status": "Statut",
                "report": "Rapport",
                "textEditor": "Éditeur de texte",
                "totalCells": "Cellules totales",
                "totalSuccess": "Succès total",
                "totalFail": "Échecs totaux",
                "a1nNotation": "Plage de notation A1",
                "numColumns": "Nombre de colonnes",
                "numRows": "Nombre de lignes",
                "pageSize": "Taille de la page",
                "offset": "Décalage",
                "nextOffset": "Décalage suivant"
            }
        };
        const locale = 'en';
        const resources = Global_Resources[locale];

        var myRunner = google.script.run
            .withSuccessHandler(function () {
                // set the loading message
                document.getElementById("loading").innerHTML = 'Done';
            })
            .withFailureHandler(function (error) {
                document.getElementById("loading").innerHTML = 'Error: ' + error.message;
            });

        // Sidebar
        this.Sidebar = {
            // Model class
            AppHandler: {
                // start method
                start: (e) => {
                    console.log('😀 start', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderSidebar({ container: document.getElementById("app") });
                    viewModel.renderLoading({ message: resources.loading });
                    viewModel.disableAllButtons();
                    viewModel.renderLed({ led: '🟡' });
                    // call the server
                    google.script.run
                        .withSuccessHandler(addon.Sidebar.AppHandler.onServerSuccess)
                        .withFailureHandler(addon.Sidebar.AppHandler.onServerFailure)
                        .fetchSelectedRange();
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 onClick', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    if (e.target.id === 'refresh') {
                        viewModel.renderLoading({ message: resources.loading });
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.AppHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.AppHandler.onServerFailure)
                            .fetchSelectedRange();
                    }
                },
                // onServerSuccess method
                onServerSuccess: (response) => {
                    console.log('😀 onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderSelectedRange({
                        container: document.getElementById("selectedRange"),
                        range: response.range
                    });
                    addon.Sidebar.ReportHandler.start({
                        container: document.getElementById("response"),
                        range: response.range
                    });
                },
                // onServerFailure method
                onServerFailure: (response) => {
                    console.log('😀 onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // alert the error message
                    alert(response.message);
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // ReportHandler class
            ReportHandler: {
                start: ({ container, range }) => {
                    console.log('😀 ReportHandler.start', { container, range });
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderTabelReport({
                        container: document.getElementById("report"),
                        range: range
                    });
                    viewModel.disableAllButtons();
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.renderLoading({ message: resources.loading });
                    // show the response card
                    container.classList.remove('hidden');
                    // call the server
                    google.script.run
                        .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                        .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                        .doValidationReport({
                            pageSize: PAGE_SIZE,
                            offset: 0,
                            a1n: range.a1n
                        });
                },
                onClick: (e, offset, a1n) => {
                    console.log('😀 onClick', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.disableAllButtons();
                    if (e.target.id === "minifyAll") {
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0,
                                a1n: a1n,
                                formatPattern: 'minify'
                            });
                    }
                    else if (e.target.id === 'prittfyAll') {
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0,
                                a1n: a1n,
                                formatPattern: 'prittfy'
                            });
                    }
                    else if (e.target.id === 'nextPage' && offset) {
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: offset,
                                a1n: a1n
                            });
                    }
                },
                onServerSuccess: (response) => {
                    console.log('😀 ReportHandler.onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderValidateResponse({
                        container: document.getElementById("response"),
                        response
                    });
                    viewModel.renderPagination({
                        container: document.getElementById("pagination"),
                        response
                    });
                    viewModel.renderLed({ led: '🟢' });
                    viewModel.enableAllButtons();
                },
                onServerFailure: (response) => {
                    console.log('😀 ReportHandler.onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderValidateResponse({
                        container: document.getElementById("response"),
                        response
                    });
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // 
            TextEditorHandler: {
                // start method
                start: ({ container, cell }) => {
                    console.log('😀 TextEditorHandler.start', { container, cell });
                    // render the text editor using viewModel
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderTextEditor({
                        container: container,
                        a1nRange: cell.range,
                        input: cell.input,
                        message: cell.message
                    });
                    addon.Sidebar.TextEditorHandler.onKeyUp({ target: container.querySelector('#textArea') });
                },
                // onKeyUp method
                onKeyUp: (e) => {
                    console.log('😀 TextEditorHandler.onKeyUp', e);
                    // validate the input
                    const text = e.target.value;
                    let isValid = true;
                    const editorAreaDiv = document.getElementById("text-editor");
                    const feedbackDiv = editorAreaDiv.querySelector('.feedback');
                    try {
                        JSON.parse(text);
                        // clear the error message
                        feedbackDiv.innerHTML = '';
                        feedbackDiv.classList.remove('error');
                    } catch (error) {
                        isValid = false;
                        // show the error message
                        feedbackDiv.innerHTML = error.message;
                        feedbackDiv.classList.add('error');
                    }
                },
                // onClick method
                onClick: (e, a1n) => {
                    console.log('😀 TextEditorHandler.onClick', { e, a1n });
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.disableAllButtons();
                    const target = e.target;
                    if (target.id === 'prittfy') {
                        console.log('😀 prittfy', a1n);
                        const text = document.getElementById('textArea').value;
                        google.script.run
                            .withSuccessHandler((response) => {
                                console.log('😀 prettyPrintCell', response);
                                viewModel.renderTextEditor({
                                    container: document.getElementById("text-editor"),
                                    a1nRange: a1n,
                                    input: response.input,
                                    message: response.message
                                });
                                viewModel.renderLed({ led: '🟢' });
                                viewModel.enableAllButtons();
                            })
                            .withFailureHandler((response) => {
                                console.log('😀 prettyPrintCell', response);
                                viewModel.renderLed({ led: '🟢' })
                                viewModel.enableAllButtons();
                            })
                            .prettyPrintCell({ a1n, text });
                    }
                    else if (target.id === 'minify') {
                        console.log('😀 minify', a1n);
                        const text = document.getElementById('textArea').value;
                        google.script.run
                            .withSuccessHandler((response) => {
                                console.log('😀 minifyCell', response);
                                viewModel.renderTextEditor({
                                    container: document.getElementById("text-editor"),
                                    a1nRange: a1n,
                                    input: response.input,
                                    message: response.message
                                });
                                viewModel.renderLed({ led: '🟢' })
                                viewModel.enableAllButtons();
                            })
                            .withFailureHandler((response) => {
                                console.log('😀 minifyCell', response);
                                viewModel.renderLed({ led: '🟢' })
                                viewModel.enableAllButtons();
                            })
                            .minifyCell(a1n, text);
                    }
                    else if (target.id === 'highlight') {
                        console.log('😀 highlight', a1n);
                        google.script.run.highlightCell(a1n);
                        viewModel.enableAllButtons();
                    }
                    else if (target.id === 'save') {
                        console.log('😀 save');
                        const text = document.getElementById('textArea').value;
                        google.script.run
                            .withSuccessHandler((response) => {
                                console.log('😀 saveCell', response);
                                viewModel.enableAllButtons();
                            })
                            .withFailureHandler((response) => {
                                console.log('😀 saveCell', response);
                                viewModel.enableAllButtons();
                            })
                            .saveCell(a1n, text);
                    }
                    else if (target.id === 'cancel') {
                        console.log('😀 cancel');
                        // hide the text editor card
                        document.getElementById("text-editor").classList.add('hidden');
                        viewModel.renderLed({ led: '🟢' })
                        viewModel.enableAllButtons();
                    }
                    else {
                        console.log('😀 unknown', a1n);
                        viewModel.renderLed({ led: '🔘' });

                        viewModel.enableAllButtons();
                    }
                }
            },
            // View class
            ViewModel: {
                start: () => {
                    console.log('😀 ViewModel.start');
                    addon.Sidebar.ViewModel.renderSidebar({ container: document.getElementById("app") });
                },
                // renderSidebar method
                renderSidebar: ({ container = document.getElementById("app") }) => {
                    console.log('😀 renderSidebar', { container });
                    if (!container) {
                        return;
                    }
                    let html = '';
                    // Add container
                    container.innerHTML = '<div class="container" id="container"></div>';
                    addon.Sidebar.ViewModel.appendStateCard({ container: container.querySelector('#container') });
                    addon.Sidebar.ViewModel.appendReportCard({ container: container.querySelector('#container') });
                    addon.Sidebar.ViewModel.appendTextEditorCard({ container: container.querySelector('#container') });
                },
                // append State card
                appendStateCard: ({ container }) => {
                    console.log('😀 appendStateCard', { container });
                    if (!container) {
                        return;
                    }

                    let html = '';
                    // Card
                    html += '<div class="card">';
                    // Add card title
                    html += `  <div class="title"><span class="led"></span> ${resources.status}</div>`;
                    html += `  <div class="content subtitle"><span id="loading"></span></div>`;
                    // Add card content
                    html += '  <div class="content body2">';
                    html += '    <div id="selectedRange" class="range"></div>';
                    html += '  </div>';
                    // Add card actions
                    html += '  <div id="action" class="action">';
                    // Add Refresh button
                    html += `    <input class="button primary" type="button" id="refresh" value="${resources.refresh}" `
                        + 'onclick="Sidebar.AppHandler.start(event)" />';
                    html += '  </div>';
                    // end of card
                    html += '</div>';

                    container.innerHTML += html;
                },
                // append Report card
                appendReportCard: ({ container }) => {
                    console.log('😀 appendReportCard', { container });
                    if (!container) {
                        return;
                    }

                    let html = '';
                    html += '<div id="response" class="card hidden">';
                    // Add card title
                    html += `  <div class="title">${resources.report}</div>`;
                    // Add card content
                    html += '  <div class="content body1">';
                    html += '    <div id="report" class="report"></div>';
                    html += '    <div class="subtitle" id="summary"></div>';
                    html += '  </div>';
                    // Add Action bar
                    html += '  <div class="action">';
                    html += '    <div id="pagination" class="pagination"></div>'
                    // end of action bar
                    html += '  </div>';
                    // end of response card
                    html += '</div>';

                    container.innerHTML += html;
                },
                // append text editor card
                appendTextEditorCard: ({ container }) => {
                    console.log('😀 appendTextEditorCard', { container });
                    if (!container) {
                        return;
                    }

                    let html = '';
                    html += '<div class="card hidden" id="text-editor">';
                    // Add card title
                    html += `  <div class="title">${resources.textEditor}</div>`;
                    // Add card content
                    html += '  <div class="content body1"></div>';
                    // Add card actions
                    html += '  <div class="action"></div>';
                    // end of text editor card
                    html += '</div>';
                    container.innerHTML += html;
                },
                // renderSelectedRange method
                renderSelectedRange: ({ container, range }) => {
                    console.log('😀 renderSelectedRange', { container, range });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }
                    container.innerHTML = range.a1n;

                },
                // renderResponse method
                renderValidateResponse: ({ container, response }) => {
                    console.log('😀 renderResponse', { container, response });
                    if (!container) {
                        return;
                    }
                    if (!response) {
                        const summary = document.getElementById("summary");
                        summary.innerHTML = 'No values in the selected range';
                        return;
                    }

                    // render summary
                    if (response?.range) {
                        addon.Sidebar.ViewModel.renderSummary({
                            container: document.getElementById("summary"),
                            response
                        });
                    }

                    // render report
                    if (response?.report) {
                        addon.Sidebar.ViewModel.addTabelReportRows({
                            container: document.getElementById("report"),
                            response
                        });
                    }
                },
                // renderPagination method
                renderPagination: ({ container, response }) => {
                    console.log('😀 renderPagination', { container, response });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (response.nextOffset) {
                        container.innerHTML += `<input class="button primary" type="button" id="nextPage" value="${resources.nextPage}" `
                            + `onclick="Sidebar.ReportHandler.onClick(event, ${response.nextOffset}, '${response.range.a1n}')" />`;
                    }
                },
                // renderSummary method
                renderSummary: ({ container, response }) => {
                    console.log('😀 renderSummary', { container, response });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!response?.range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }

                    const range = response.range;
                    const page = response.page;
                    const totalCells = (range.numRows) * (range.numColumns);

                    const totalSuccess = response.report.reduce((acc, row) => {
                        return acc + row.reduce((acc, col) => {
                            return acc + (col.icon === '✅' ? 1 : 0);
                        }, 0);
                    }, 0);

                    const totalFail = totalCells - totalSuccess;
                    let div = '';
                    div += '<div class="container center">';
                    div += `  <span class="label info" title="${resources.totalCells}">T:${totalCells}</span>`;
                    div += `  <span class="label success" title="${resources.totalSuccess}">S:${totalSuccess}</span>`;
                    div += `  <span class="label error" title="${resources.totalFail}">F:${totalFail}</span>`;
                    div += `  <span class="label info" title="${resources.a1nNotation}">${range.a1n}</span>`;
                    div += `  <span class="label info" title="${resources.numColumns}">C:${range.numColumns}</span>`;
                    div += `  <span class="label info" title="${resources.numRows}">R:${range.numRows}</span>`;
                    div += '</div>';
                    div += '<div class="container center">';
                    div += `  <span class="label info" title="${resources.pageSize}">P:${page.pageSize}</span>`;
                    div += `  <span class="label info" title="${resources.offset}">O:${page.offset}</span>`;
                    div += `  <span class="label info" title="${resources.nextOffset}">N:${response.nextOffset || ''}</span>`;
                    div += '</div>';

                    container.innerHTML = div;
                },
                // renderTabelReport method
                renderTabelReport: ({ container, range }) => {
                    console.log('😀 renderTabelReport', { container, range });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }

                    const rangeDiv = document.createElement('div');
                    rangeDiv.classList.add('caption');
                    rangeDiv.appendChild(document.createTextNode(range.a1n));
                    container.appendChild(rangeDiv);
                    const columns = range.columns || [];

                    const table = document.createElement('table');
                    const thead = document.createElement('thead');
                    const trh = document.createElement('tr');
                    trh.appendChild(document.createElement('th'));
                    columns.forEach((col) => {
                        const th = document.createElement('th');
                        th.appendChild(document.createTextNode(col));
                        trh.appendChild(th);
                    });
                    thead.appendChild(trh);
                    table.appendChild(thead);
                    const tbody = document.createElement('tbody');
                    table.appendChild(tbody);
                    container.appendChild(table);
                },
                // append rows to the table
                addTabelReportRows: ({ container, response }) => {
                    console.log('😀 addTabelReportRows', { container, response });
                    if (!container) {
                        return;
                    }
                    if (!response?.report) {
                        container.innerHTML = resources.noValues;
                        return;
                    }
                    const rows = response?.page?.rows || [];
                    const tbody = container.querySelector('tbody');
                    for (const [key1, row] of Object.entries(response.report)) {
                        const tr = document.createElement('tr');
                        const td1 = document.createElement('td');
                        td1.appendChild(document.createTextNode(rows[key1]));
                        tr.appendChild(td1);
                        for (const [key2, col] of Object.entries(row)) {
                            const td2 = document.createElement('td');
                            td2.appendChild(document.createTextNode(col.icon));
                            td2.classList.add('report-cell');
                            td2.title = col.message;
                            td2.addEventListener('click', (e) => {
                                console.log('😀 report-cell click', e);
                                addon.Sidebar.TextEditorHandler.start({
                                    container: document.getElementById("text-editor"),
                                    cell: col
                                });
                            });
                            tr.appendChild(td2);
                        }
                        tbody.appendChild(tr);
                    }
                },
                // renderTextEditor method
                renderTextEditor: ({ container, a1nRange, input, message }) => {
                    console.log('😀 renderTextEditor', { container, a1nRange, input });
                    if (!container) {
                        return;
                    }
                    if (!a1nRange) {
                        container.innerHTML = '';
                        return;
                    }

                    // show the text editor card
                    container.classList.remove('hidden');

                    let html = '';
                    html += `<div class="caption">${a1nRange}</div>`;
                    html += '<div>';
                    html += `<textarea class="textarea" id="textArea" name="textArea" rows="15" cols="25" `
                        + `onkeyup="Sidebar.TextEditorHandler.onKeyUp(event)" `
                        + `>${input || ''}</textarea>`;
                    html += '<div>';
                    html += `<div class="feedback">${message}</div>`
                    html += `<input class="button button-small primary" type="button" id="prittfy" value="${resources.prittfy}" `
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += `<input class="button button-small primary" type="button" id="minify" value="${resources.minify}" `
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += `<input class="button button-small info" type="button" id="highlight" value="${resources.highlight}" `
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '</div>';
                    html += '<div>';
                    html += `<input class="button accent" type="button" id="cancel" value="${resources.cancel}" `
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += `<input class="button accent" type="button" id="save" value="${resources.save}" `
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '</div>';
                    html += '</div>';
                    container.querySelector('.content').innerHTML = html;
                },
                // renderLoading method
                renderLoading: ({ message }) => {
                    console.log('😀 renderLoading', message);
                    const container = document.getElementById("loading");
                    if (!container) {
                        return;
                    }
                    container.innerHTML = message;
                },
                // render led
                renderLed: ({ led }) => {
                    console.log('😀 renderLed', led);
                    const container = document.getElementsByClassName("led")?.[0];
                    if (!container) {
                        container.innerHTML = '🔘';
                    }
                    container.innerHTML = led;
                },
                // disableAllButtons method
                disableAllButtons: () => {
                    const buttons = document.querySelectorAll('input[type="button"]');
                    console.log('😀 disableAllButtons', buttons);
                    buttons.forEach((button) => {
                        button.disabled = true;
                        button.classList.add('disabled');
                    });
                },
                // enableAllButtons method
                enableAllButtons: () => {
                    console.log('😀 enableAllButtons');
                    const buttons = document.querySelectorAll('input[type="button"]');
                    buttons.forEach((button) => {
                        button.disabled = false;
                        button.classList.remove('disabled');
                    });
                }
            },

        };

        console.log('😀 Script load', this);
        this.Sidebar.AppHandler.start();
    })();
</script>