<!-- JavaScript -->
<script>
    (function () {
        const PAGE_SIZE = 25;
        //resource = 
        const addon = this;
        // Global_Resources
        const Global_Resources = {
            version: '0.0.1',
            en: {
                "appTitle": "JSON Studio",
                "loading": "Loading...",
                "refresh": "Refresh",
                "minifyAll": "Minify All",
                "prittfyAll": "Prittfy All",
                "nextPage": "Next Page",
                "cancel": "Cancel",
                "save": "Save",
                "highlight": "Highlight",
                "prittfy": "Prittfy",
                "minify": "Minify",
                "done": "Done",
                "notImplemented": "Not implemented",
                "error": "Error: ",
                "noValues": "No values in the selected range",
                "status": "Status",
                "report": "Report",
                "textEditor": "Text Editor",
                "totalCells": "Total cells",
                "totalSuccess": "Total success",
                "totalFail": "Total fails",
                "a1nNotation": "A1 Notation range",
                "numColumns": "Number of columns",
                "numRows": "Number of rows",
                "pageSize": "Page size",
                "offset": "Offset",
                "nextOffset": "Next offset",
                "page": "Page"
            },
            fr: {
                "appTitle": "JSON Studio",
                "loading": "Chargement...",
                "refresh": "Actualiser",
                "minifyAll": "Minifier tout",
                "prittfyAll": "Prittfy tout",
                "nextPage": "Page suivante",
                "cancel": "Annuler",
                "save": "Enregistrer",
                "highlight": "Surligner",
                "prittfy": "Prittfy",
                "minify": "Minifier",
                "done": "Terminé",
                "notImplemented": "Non implémenté",
                "error": "Erreur: ",
                "noValues": "Pas de valeurs dans la plage sélectionnée",
                "status": "Statut",
                "report": "Rapport",
                "textEditor": "Éditeur de texte",
                "totalCells": "Cellules totales",
                "totalSuccess": "Succès total",
                "totalFail": "Échecs totaux",
                "a1nNotation": "Plage de notation A1",
                "numColumns": "Nombre de colonnes",
                "numRows": "Nombre de lignes",
                "pageSize": "Taille de la page",
                "offset": "Décalage",
                "nextOffset": "Décalage suivant",
                "page": "Page"
            }
        };
        const locale = 'en';
        const resources = Global_Resources[locale];

        // Sidebar
        this.Sidebar = {
            // Model class
            AppHandler: {
                // start method
                start: (e) => {
                    console.log('😀 start', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderSidebar({ container: document.getElementById("app") });
                    viewModel.renderSubtitle({
                        cardKey: viewModel.STATE_CARD_ID,
                        message: resources.loading
                    });
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.disableAllButtons();

                    // call the server
                    google.script.run
                        .withSuccessHandler(addon.Sidebar.AppHandler.onServerSuccess)
                        .withFailureHandler(addon.Sidebar.AppHandler.onServerFailure)
                        .fetchSelectedRange();
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 onClick', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    if (e.target.id === 'refresh') {
                        // refresh the page
                    }
                },
                // onServerSuccess method
                onServerSuccess: (response) => {
                    console.log('😀 onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;

                    viewModel.renderSubtitle({
                        cardKey: viewModel.STATE_CARD_ID,
                        message: resources.done
                    });
                    viewModel.renderLed({ led: '🔘' });
                    viewModel.enableAllButtons();
                    // render the page with the response
                    viewModel.renderSelectedRange({
                        container: document.getElementById(viewModel.RANGE_ID),
                        range: response.range
                    });
                    addon.Sidebar.ReportHandler.start({
                        container: document.getElementById(viewModel.REPORT_CARD_ID),
                        range: response.range
                    });
                },
                // onServerFailure method
                onServerFailure: (response) => {
                    console.log('😀 onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderSubtitle({
                        cardKey: viewModel.STATE_CARD_ID,
                        message: resources.error
                    });
                    // alert the error message
                    alert(response.message);
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // ReportHandler class
            ReportHandler: {
                start: ({ container, range }) => {
                    console.log('😀 ReportHandler.start', { container, range });
                    const viewModel = addon.Sidebar.ViewModel;
                    // todo: render the card
                    viewModel.renderTabelReport({
                        container: document.getElementById("report"),
                        range: range
                    });
                    viewModel.disableAllButtons();
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.renderSubtitle({
                        cardKey: viewModel.REPORT_CARD_ID,
                        message: resources.loading + ' ' + resources.page + ' 1'
                    });
                    // show the response card
                    container.classList.remove('hidden');
                    // call the server
                    google.script.run
                        .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                        .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                        .doValidationReport({
                            pageSize: PAGE_SIZE,
                            offset: 0,
                            a1n: range.a1n
                        });
                },
                onClick: (e, offset, a1n) => {
                    console.log('😀 onClick', { e, offset, a1n });
                    const viewModel = addon.Sidebar.ViewModel;

                    if (e.target.id === 'refresh') {
                        const currentA1n = document.getElementById(viewModel.RANGE_ID).innerText;
                        viewModel.renderSubtitle({
                            cardKey: viewModel.REPORT_CARD_ID,
                            message: resources.refresh + ' ' + currentA1n
                        });
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        // close text editor card
                        document.getElementById(viewModel.TEXT_CARD_ID).classList.add('hidden');
                        // clear the report table rows
                        document.getElementById("report").querySelector('tbody').innerHTML = '';
                        // call the server
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0,
                                a1n: currentA1n
                            });
                    }
                    else if (e.target.id === 'nextPage' && offset) {
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: offset,
                                a1n: a1n
                            });
                    }
                },
                onServerSuccess: (response) => {
                    console.log('😀 ReportHandler.onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderValidateResponse({
                        container: document.getElementById(viewModel.REPORT_CARD_ID),
                        response
                    });
                    if (response.nextOffset) {
                        viewModel.renderSubtitle({
                            cardKey: viewModel.REPORT_CARD_ID,
                            message: resources.loading + ' ' + resources.page + ' ' + (response.nextOffset / PAGE_SIZE)
                        });
                        // fetch the next page
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: response.nextOffset,
                                a1n: response.range.a1n
                            });
                    }
                    else {
                        viewModel.renderSubtitle({
                            cardKey: viewModel.REPORT_CARD_ID,
                            message: resources.done
                        });
                        viewModel.renderLed({ led: '🔘' });
                        viewModel.enableAllButtons();
                    }
                },
                onServerFailure: (response) => {
                    console.log('😀 ReportHandler.onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderValidateResponse({
                        container: document.getElementById(viewModel.REPORT_CARD_ID),
                        response
                    });
                    viewModel.renderSubtitle({
                        cardKey: viewModel.REPORT_CARD_ID,
                        message: resources.error
                    });
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // 
            TextEditorHandler: {
                // start method
                start: ({ container, cell }) => {
                    console.log('😀 TextEditorHandler.start', { container, cell });
                    // render the text editor using viewModel
                    const viewModel = addon.Sidebar.ViewModel;
                    document.getElementById(viewModel.TEXT_CARD_ID).classList.remove('hidden')
                    viewModel.renderTextEditor({
                        container: container,
                        a1nRange: cell.range,
                        input: cell.input,
                        message: cell.message
                    });
                    addon.Sidebar.TextEditorHandler.onKeyUp({
                        target: container.querySelector(`#${addon.Sidebar.ViewModel.TEXT_AREA_ID}`)
                    });
                },
                // onKeyUp method
                onKeyUp: (e) => {
                    console.log('😀 TextEditorHandler.onKeyUp', e);
                    // validate the input
                    const text = e.target.value;
                    let isValid = true;
                    const viewModel = addon.Sidebar.ViewModel;
                    try {
                        JSON.parse(text);
                        // clear the error message

                        viewModel.renderSubtitle({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: '💫'
                        });
                        //feedbackDiv.classList.remove('error');
                    } catch (error) {
                        isValid = false;
                        // show the error message
                        //feedbackDiv.innerHTML = error.message;
                        viewModel.renderSubtitle({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: `❗ ${error.message}`
                        });
                        //feedbackDiv.classList.add('error');
                    }
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 TextEditorHandler.onClick', { e });
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.disableAllButtons();
                    const a1n = document.getElementById(viewModel.TEXT_CARD_ID).querySelector('.caption').innerText;
                    const target = e.target;
                    const editorCard = document.getElementById(viewModel.TEXT_CARD_ID);
                    if (target.id === 'prittfy') {
                        console.log('😀 prittfy', a1n);
                        const text = editorCard.querySelector(`#${viewModel.TEXT_AREA_ID}`).value;
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.TextEditorHandler.onServerFailure)
                            .prettyPrintCell({ a1n, text });
                    }
                    else if (target.id === 'minify') {
                        console.log('😀 minify', a1n);
                        const text = editorCard.querySelector(`#${viewModel.TEXT_AREA_ID}`).value;
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.TextEditorHandler.onServerFailure)
                            .minifyCell(a1n, text);
                    }
                    else if (target.id === 'highlight') {
                        console.log('😀 highlight', a1n);
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.TextEditorHandler.onServerFailure)
                            .highlightCell(a1n);
                    }
                    else if (target.id === 'save') {
                        console.log('😀 save');
                        const text = editorCard.querySelector(`#${viewModel.TEXT_AREA_ID}`).value;
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.TextEditorHandler.onServerFailure)
                            .saveCell(a1n, text);
                    }
                    else if (target.id === 'cancel') {
                        console.log('😀 cancel');
                        // hide the text editor card
                        document.getElementById(viewModel.TEXT_CARD_ID).classList.add('hidden');
                    }
                    else {
                        console.log('🟢 else', a1n);
                        viewModel.renderSubtitle({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: resources.done
                        })
                        viewModel.renderLed({ led: '🔘' });
                        viewModel.enableAllButtons();
                    }
                },
                onServerSuccess: (response) => {
                    console.log('😀 onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    if (response) {
                        viewModel.renderTextEditor({
                            container: document.getElementById(viewModel.TEXT_CARD_ID),
                            a1nRange: response.a1n,
                            input: response.input,
                            message: response.message
                        });
                    }
                    viewModel.renderSubtitle({
                        cardKey: viewModel.TEXT_CARD_ID,
                        message: resources.done
                    });
                    viewModel.renderLed({ led: '🔘' });
                    viewModel.enableAllButtons();
                },
                onServerFailure: (response) => {
                    console.log('😀 onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderSubtitle({
                        cardKey: viewModel.TEXT_CARD_ID,
                        message: resources.error
                    });
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // View class
            ViewModel: {
                STATE_CARD_ID: 'state-card',
                REPORT_CARD_ID: 'report-card',
                TEXT_CARD_ID: 'text-card',
                TEXT_AREA_ID: 'text-editor',
                SUMMARY_ID: 'summary',
                RANGE_ID: 'selectedRange',
                // start method
                start: () => {
                    console.log('😀 ViewModel.start');
                    addon.Sidebar.ViewModel.renderSidebar({ container: document.getElementById("app") });
                },
                // renderSidebar method
                renderSidebar: ({ container = document.getElementById("app") }) => {
                    console.log('😀 renderSidebar', { container });
                    if (!container) {
                        return;
                    }

                    // Add container
                    container.innerHTML = '<div class="container" id="appContainer"></div>';
                    addon.Sidebar.ViewModel.appendStateCard({ container: container.querySelector('#appContainer') });
                    addon.Sidebar.ViewModel.appendReportCard({ container: container.querySelector('#appContainer') });
                    addon.Sidebar.ViewModel.appendTextEditorCard({ container: container.querySelector('#appContainer') });
                },
                // append State card
                appendStateCard: ({ container }) => {
                    console.log('😀 appendStateCard', { container });
                    if (!container) {
                        return;
                    }

                    addon.Sidebar.CardView.appendCard({
                        container: container,
                        key: addon.Sidebar.ViewModel.STATE_CARD_ID,
                        title: resources.status,
                        subtitle: resources.loading,
                        content: '<span id="selectedRange" class="range"></span>'
                    });
                },
                // append Report card
                appendReportCard: ({ container }) => {
                    console.log('😀 appendReportCard', { container });
                    if (!container) {
                        return;
                    }

                    addon.Sidebar.CardView.appendCard({
                        container: container,
                        key: addon.Sidebar.ViewModel.REPORT_CARD_ID,
                        title: resources.report,
                        subtitle: resources.loading,
                        hidden: true,
                        content: '<div id="report" class="report"></div><div class="subtitle1" id="summary"></div>',
                        actions: [
                            { id: resources.refresh.toLowerCase(), label: resources.refresh, handler: 'Sidebar.ReportHandler.onClick(event)' }
                        ]
                    });
                },
                // append text editor card
                appendTextEditorCard: ({ container }) => {
                    console.log('😀 appendTextEditorCard', { container });
                    if (!container) {
                        return;
                    }

                    const actions = [
                        { id: 'highlight', label: resources.highlight, handler: 'Sidebar.TextEditorHandler.onClick(event)' },
                        { id: 'prittfy', label: resources.prittfy, handler: 'Sidebar.TextEditorHandler.onClick(event)' },
                        { id: 'minify', label: resources.minify, handler: 'Sidebar.TextEditorHandler.onClick(event)' },
                        { id: 'save', label: resources.save, handler: 'Sidebar.TextEditorHandler.onClick(event)' },
                        { id: 'cancel', label: resources.cancel, handler: 'Sidebar.TextEditorHandler.onClick(event)' }
                    ];

                    const contet = ``;

                    addon.Sidebar.CardView.appendCard({
                        container: container,
                        key: addon.Sidebar.ViewModel.TEXT_CARD_ID,
                        title: resources.textEditor,
                        subtitle: '💫',
                        content: contet,
                        actions: actions,
                        hidden: true
                    });
                },
                // render textarea
                renderTextEditor: ({ container, a1nRange, input, message }) => {
                    console.log("renderTextEditor", { container, a1nRange, input, message });
                    const e = container.querySelector('.content');
                    if (!e) {
                        console.warn('🤔😶‍🌫️ e is null!!! ');
                        return;
                    }

                    let html = '';
                    html += `<div class="caption">${a1nRange}</div>`;
                    html += '<div>';
                    html += `<textarea class="textarea" id="${addon.Sidebar.ViewModel.TEXT_AREA_ID}" name="text-editor" rows="10" cols="25" `
                        + `spellcheck="false" placeholder="Enter your text here..." onkeyup="Sidebar.TextEditorHandler.onKeyUp(event)">`;
                    html += input || '';
                    html += '</textarea>';
                    
                    html += '</div>';
                    e.innerHTML = html;
                },
                // renderSelectedRange method
                renderSelectedRange: ({ container, range }) => {
                    console.log('😀 renderSelectedRange', { container, range });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }
                    container.innerHTML = range.a1n;

                },
                // renderResponse method
                renderValidateResponse: ({ container, response }) => {
                    console.log('😀 renderResponse', { container, response });
                    if (!container) {
                        return;
                    }
                    if (!response) {
                        const summary = document.getElementById("summary");
                        summary.innerHTML = 'No values in the selected range';
                        return;
                    }

                    // render summary
                    if (response?.range) {
                        addon.Sidebar.ViewModel.renderSummary({
                            container: document.getElementById("summary"),
                            response
                        });
                    }

                    // render report
                    if (response?.report) {
                        addon.Sidebar.ViewModel.addTabelReportRows({
                            container: document.getElementById("report"),
                            response
                        });
                    }
                },
                // renderSummary method
                renderSummary: ({ container, response }) => {
                    console.log('😀 renderSummary', { container, response });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!response?.range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }

                    const range = response.range;
                    const page = response.page;
                    const totalCells = (range.numRows) * (range.numColumns);

                    const totalSuccess = response.report.reduce((acc, row) => {
                        return acc + row.reduce((acc, col) => {
                            return acc + (col.icon === '✅' ? 1 : 0);
                        }, 0);
                    }, 0);

                    const totalFail = totalCells - totalSuccess;
                    let div = '';
                    div += '<div class="container center">';
                    div += `  <span class="label info" title="${resources.totalCells}">T:${totalCells}</span>`;
                    div += `  <span class="label success" title="${resources.totalSuccess}">S:${totalSuccess}</span>`;
                    div += `  <span class="label error" title="${resources.totalFail}">F:${totalFail}</span>`;
                    div += `  <span class="label info" title="${resources.a1nNotation}">${range.a1n}</span>`;
                    div += `  <span class="label info" title="${resources.numColumns}">C:${range.numColumns}</span>`;
                    div += `  <span class="label info" title="${resources.numRows}">R:${range.numRows}</span>`;
                    div += '</div>';
                    div += '<div class="container center">';
                    div += `  <span class="label info" title="${resources.pageSize}">P:${page.pageSize}</span>`;
                    div += `  <span class="label info" title="${resources.offset}">O:${page.offset}</span>`;
                    div += `  <span class="label info" title="${resources.nextOffset}">N:${response.nextOffset || ''}</span>`;
                    div += '</div>';

                    container.innerHTML = div;
                },
                // renderTabelReport method
                renderTabelReport: ({ container, range }) => {
                    console.log('😀 renderTabelReport', { container, range });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }

                    const rangeDiv = document.createElement('div');
                    rangeDiv.classList.add('caption');
                    rangeDiv.appendChild(document.createTextNode(range.a1n));
                    container.appendChild(rangeDiv);
                    const columns = range.columns || [];

                    const table = document.createElement('table');
                    const thead = document.createElement('thead');
                    const trh = document.createElement('tr');
                    trh.appendChild(document.createElement('th'));
                    columns.forEach((col) => {
                        const th = document.createElement('th');
                        th.appendChild(document.createTextNode(col));
                        trh.appendChild(th);
                    });
                    thead.appendChild(trh);
                    table.appendChild(thead);
                    const tbody = document.createElement('tbody');
                    table.appendChild(tbody);
                    container.appendChild(table);
                },
                // append rows to the table
                addTabelReportRows: ({ container, response }) => {
                    console.log('😀 addTabelReportRows', { container, response });
                    if (!container) {
                        return;
                    }
                    if (!response?.report) {
                        container.innerHTML = resources.noValues;
                        return;
                    }
                    const rows = response?.page?.rows || [];
                    const tbody = container.querySelector('tbody');
                    for (const [key1, row] of Object.entries(response.report)) {
                        const tr = document.createElement('tr');
                        const td1 = document.createElement('td');
                        td1.appendChild(document.createTextNode(rows[key1]));
                        tr.appendChild(td1);
                        for (const [key2, col] of Object.entries(row)) {
                            const td2 = document.createElement('td');
                            td2.appendChild(document.createTextNode(col.icon));
                            td2.classList.add('report-cell');
                            td2.title = col.message;
                            td2.id = col.a1n;
                            td2.addEventListener('click', (e) => {
                                console.log('😀 report-cell click', e);
                                addon.Sidebar.TextEditorHandler.start({
                                    container: document.getElementById(addon.Sidebar.ViewModel.TEXT_CARD_ID),
                                    cell: col
                                });
                            });
                            tr.appendChild(td2);
                        }
                        tbody.appendChild(tr);
                    }
                },
                // renderSubtitle method
                renderSubtitle: ({ cardKey, message }) => {
                    console.log('😀 renderSubtitle', message);
                    const container = document.getElementById(cardKey);
                    if (!container) {
                        return;
                    }

                    const subtitle1 = container.querySelector('.subtitle1');
                    const subtitle2 = container.querySelector('.subtitle2');
                    if (!subtitle1 && !subtitle2) {
                        return;
                    }
                    if (subtitle2) {
                        subtitle2.innerHTML = message;
                    }
                    else {
                        subtitle1.innerHTML = message;
                    }
                },
                // render led
                renderLed: ({ led }) => {
                    console.log('😀 renderLed', led);
                    const leds = document.getElementsByClassName("led");
                    if (!leds) {
                        leds.innerHTML = '🔘';
                    }

                    for (let i = 0; i < leds.length; i++) {
                        leds[i].innerHTML = led;
                    }
                },
                // disableAllButtons method
                disableAllButtons: () => {
                    const buttons = document.querySelectorAll('input[type="button"]');
                    console.log('😀 disableAllButtons', buttons);
                    buttons.forEach((button) => {
                        button.disabled = true;
                        button.classList.add('disabled');
                    });
                },
                // enableAllButtons method
                enableAllButtons: () => {
                    console.log('😀 enableAllButtons');
                    const buttons = document.querySelectorAll('input[type="button"]');
                    buttons.forEach((button) => {
                        button.disabled = false;
                        button.classList.remove('disabled');
                    });
                }
            },
            // CardView class
            CardView: {
                appendCard: ({ container, key, title, subtitle, content, actions, hidden }) => {
                    console.log('😀 renderCard', { container, key, title, subtitle, content, actions });
                    if (!container) {
                        return;
                    }

                    // check if the card already exists
                    const card = document.getElementById(key);
                    if (card) {
                        card.innerHTML = '';
                    }

                    let html = '';
                    // Card
                    html += `<div class="card ${hidden ? 'hidden' : ''}" id="${key}">`;
                    // Add card titlex
                    html += `  <div class="title">${title}`;
                    html += '    <div class="right led"></div>';
                    if (subtitle) {
                        html += `    <div class="subtitle1">${subtitle}</div>`;
                    }
                    html += '  </div>';
                    // Add card content
                    html += '  <div class="content body1">';
                    html += content || '';
                    html += '  </div>';
                    // Add card actions
                    html += '  <div class="action">';
                    if (actions) {
                        actions.forEach((action) => {
                            html += `    <input class="button primary" type="button" value="${action.label}"`
                                + ` id="${action.id}" `
                                + ` onclick="${action.handler}" />`;
                        });
                    }
                    html += '  </div>';
                    // end of card
                    html += '</div>';
                    container.innerHTML += html;
                }
            }
        };

        console.log('😀 Script load', this);
        this.Sidebar.AppHandler.start();
    })();
</script>