<!-- JavaScript -->
<script>
    (function () {
        const PAGE_SIZE = 25;
        // Global_Resources
        const Global_Resources = {
            version: '0.0.1',
            en: {
                "appTitle": "JSON Studio",
                "loading": "Loading...",
                "welcome": "Welcome",
                "bindSelectRange": "Bind selected range",
                "bindSelectRangeDesc": "Bind the selected range to the app",
                "refresh": "Refresh",
                "cancel": "Cancel",
                "close": "Close",
                "save": "Save",
                "saveAndClose": "Save & Close",
                "highlight": "Highlight 🔦",
                "prittfy": "Prittfy",
                "minify": "Minify",
                "done": "Done",
                "notImplemented": "Not implemented",
                "error": "Error: ",
                "noValues": "No values in the selected range",
                "jsonValid": "JSON is valid",
                "jsonInvalid": "JSON is invalid"
            },
            fr: {
                "appTitle": "JSON Studio",
                "loading": "Chargement...",
                "welcome": "Bienvenue",
                "bindSelectRange": "Lier la plage sélectionnée",
                "bindSelectRangeDesc": "Lier la plage sélectionnée à l'application",
                "refresh": "Actualiser",
                "cancel": "Annuler",
                "close": "Fermer",
                "save": "Enregistrer",
                "saveAndClose": "Enregistrer et fermer",
                "highlight": "Surligner 🔦",
                "prittfy": "Prittfy",
                "minify": "Minifier",
                "done": "Terminé",
                "notImplemented": "Non implémenté",
                "error": "Erreur: ",
                "noValues": "Pas de valeurs dans la plage sélectionnée",
                "status": "Statut",
                "jsonValid": "JSON est valide",
                "jsonInvalid": "JSON est invalide"
            }
        };
        const locale = 'en';
        const resources = Global_Resources[locale];

        // Dialog
        const app = this.App = {
            // Model class
            AppHandler: {
                // start method
                start: (e) => {
                    console.log('😀 start', e);
                    const viewModel = app.ViewModel;
                    viewModel.renderDialog({ container: document.getElementById("app") });

                    viewModel.renderWorkInProgress({
                        ardKey: viewModel.WELCOME_CARD_ID,
                        message: resources.bindSelectRangeDesc
                    });
                    // call the server
                    google.script.run
                        .withSuccessHandler(app.AppHandler.onServerSuccess)
                        .withFailureHandler(app.AppHandler.onServerFailure)
                        .getCurrentCell();
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 onClick', e);
                    const viewModel = app.ViewModel;
                    if (e.target.id === 'refresh') {
                        // refresh the page
                    }
                },
                // onServerSuccess method
                onServerSuccess: (response) => {
                    console.log('😀 onServerSuccess', { response });
                    const viewModel = app.ViewModel;

                    viewModel.renderSubtitle({
                        cardKey: viewModel.WELCOME_CARD_ID,
                        message: resources.done
                    });
                    viewModel.renderLed({ led: '🔘' });
                    viewModel.enableAllButtons();
                    // render the page with the response
                    viewModel.renderSelectedRange({
                        container: document.getElementById(viewModel.RANGE_ID),
                        range: response.cell
                    });
                    app.TextEditorHandler.start({
                        container: document.getElementById(viewModel.TEXT_CARD_ID),
                        cell: response.cell
                    });
                },
                // onServerFailure method
                onServerFailure: (response) => {
                    console.log('😀 onServerFailure', response);
                    const viewModel = app.ViewModel;
                    viewModel.renderSubtitle({
                        cardKey: viewModel.WELCOME_CARD_ID,
                        message: resources.error
                    });
                    // alert the error message
                    alert(response.message);
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            TextEditorHandler: {
                // start method
                start: ({ container, cell }) => {
                    console.log('😀 TextEditorHandler.start', { container, cell });
                    // render the text editor using viewModel
                    const viewModel = app.ViewModel;
                    document.getElementById(viewModel.TEXT_CARD_ID).classList.remove('hidden')
                    viewModel.renderTextEditor({
                        container: container,
                        a1nRange: cell.a1n,
                        input: cell.input
                    });
                    app.TextEditorHandler.onKeyUp({
                        target: container.querySelector(`#${app.ViewModel.TEXT_AREA_ID}`)
                    });
                },
                // onKeyUp method
                onKeyUp: (e) => {
                    console.log('😀 TextEditorHandler.onKeyUp', e);
                    // validate the input
                    const text = e.target.value;
                    let isValid = true;
                    const viewModel = app.ViewModel;
                    try {
                        JSON.parse(text);
                        // clear the error message

                        viewModel.renderSubtitle({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: `<span class="success">✓<span> ${resources.jsonValid}`
                        });
                    } catch (error) {
                        isValid = false;
                        // show the error message
                        viewModel.renderSubtitle({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: `<span class="accent">⨂ ${error.message}</span>`
                        });
                    }
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 TextEditorHandler.onClick', { e });
                    const viewModel = app.ViewModel;
                    const a1n = document.getElementById(viewModel.TEXT_CARD_ID).querySelector('.caption').innerText;
                    const target = e.target;
                    const editorCard = document.getElementById(viewModel.TEXT_CARD_ID);
                    if (target.id === 'prittfy') {
                        viewModel.renderWorkInProgress({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: resources.prittfy
                        });
                        console.log('😀 prittfy', a1n);
                        const text = editorCard.querySelector(`#${viewModel.TEXT_AREA_ID}`).value;
                        google.script.run
                            .withSuccessHandler(app.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(app.TextEditorHandler.onServerFailure)
                            .prettyPrintCell({ a1n, text });
                    }
                    else if (target.id === 'minify') {
                        console.log('😀 minify', a1n);
                        viewModel.renderWorkInProgress({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: resources.minify
                        });
                        const text = editorCard.querySelector(`#${viewModel.TEXT_AREA_ID}`).value;
                        google.script.run
                            .withSuccessHandler(app.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(app.TextEditorHandler.onServerFailure)
                            .minifyCell(a1n, text);
                    }
                    else if (target.id === 'highlight') {
                        console.log('😀 highlight', a1n);
                        viewModel.renderWorkInProgress({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: resources.highlight
                        });
                        google.script.run
                            .withSuccessHandler(app.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(app.TextEditorHandler.onServerFailure)
                            .highlightCell(a1n);
                    }
                    else if (target.id === 'save') {
                        console.log('😀 save');
                        viewModel.renderWorkInProgress({
                            cardKey: viewModel.TEXT_CARD_ID,
                            message: resources.save
                        });
                        const text = editorCard.querySelector(`#${viewModel.TEXT_AREA_ID}`).value;
                        google.script.run
                            .withSuccessHandler(app.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(app.TextEditorHandler.onServerFailure)
                            .saveCell(a1n, text);
                    }
                    else if (target.id === 'close') {
                        console.log('😀 close');
                        // hide the text editor card
                        document.getElementById(viewModel.TEXT_CARD_ID).classList.add('hidden');
                    }
                    else if (target.id === 'openInDialog') {
                        console.log('😀 openInDialog');
                        // open the dialog
                        google.script.run
                            .withSuccessHandler(app.TextEditorHandler.onServerSuccess)
                            .withFailureHandler(app.TextEditorHandler.onServerFailure)
                            .openEditorFromSidebar(a1n);
                    }

                },
                onServerSuccess: (response) => {
                    console.log('😀 onServerSuccess', response);
                    const viewModel = app.ViewModel;
                    if (response) {
                        viewModel.renderTextEditor({
                            container: document.getElementById(viewModel.TEXT_CARD_ID),
                            a1nRange: response.a1n,
                            input: response.input,
                            message: response.message
                        });
                    }
                    viewModel.renderSubtitle({
                        cardKey: viewModel.TEXT_CARD_ID,
                        message: resources.done
                    });
                    viewModel.renderLed({ led: '🔘' });
                    viewModel.enableAllButtons();
                },
                onServerFailure: (response) => {
                    console.log('😀 onServerFailure', response);
                    const viewModel = app.ViewModel;
                    viewModel.renderSubtitle({
                        cardKey: viewModel.TEXT_CARD_ID,
                        message: resources.error
                    });
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // View class
            ViewModel: {
                WELCOME_CARD_ID: 'state-card',
                TEXT_CARD_ID: 'text-card',
                TEXT_AREA_ID: 'text-editor',
                RANGE_ID: 'selectedRange',
                // start method
                start: () => {
                    console.log('😀 ViewModel.start');
                    app.ViewModel.renderDialog({ container: document.getElementById("app") });
                },
                // renderSidebar method
                renderDialog: ({ container = document.getElementById("app") }) => {
                    console.log('😀 renderDialog', { container });
                    if (!container) {
                        return;
                    }

                    // Add container
                    container.innerHTML = '<div class="container" id="appContainer"></div>';
                    app.ViewModel.renderWelcomeCard({ container: container.querySelector('#appContainer') });
                    app.ViewModel.renderTextEditorCard({ container: container.querySelector('#appContainer') });
                },
                // append State card
                renderWelcomeCard: ({ container }) => {
                    console.log('😀 renderWelcomeCard', { container });
                    if (!container) {
                        return;
                    }

                    app.CardView.appendCard({
                        container: container,
                        key: app.ViewModel.WELCOME_CARD_ID,
                        title: resources.welcome,
                        subtitle: resources.bindSelectRangeDesc,
                        content: '<span id="selectedRange" class="range"></span>'
                    });
                },
                // append text editor card
                renderTextEditorCard: ({ container }) => {
                    console.log('😀 renderTextEditorCard', { container });
                    if (!container) {
                        return;
                    }

                    const actions = [
                        { id: 'highlight', label: resources.highlight, handler: 'Dialog.TextEditorHandler.onClick(event)' },
                        { id: 'prittfy', label: resources.prittfy, handler: 'Dialog.TextEditorHandler.onClick(event)' },
                        { id: 'minify', label: resources.minify, handler: 'Dialog.TextEditorHandler.onClick(event)' },
                        { id: 'save', label: resources.save, handler: 'Dialog.TextEditorHandler.onClick(event)' },
                        { id: 'cancel', label: resources.cancel, handler: 'Dialog.TextEditorHandler.onClick(event)' }
                    ];

                    const contet = ``;

                    app.CardView.appendCard({
                        container: container,
                        key: app.ViewModel.TEXT_CARD_ID,
                        title: resources.textEditor,
                        subtitle: '💫',
                        content: contet,
                        actions: actions,
                        hidden: true
                    });
                },
                // render textarea
                renderTextEditor: ({ container, a1nRange, input, message }) => {
                    console.log("renderTextEditor", { container, a1nRange, input, message });
                    const e = container.querySelector('.content');
                    if (!e) {
                        console.warn('🤔😶‍🌫️ e is null!!! ');
                        return;
                    }

                    let html = '';
                    html += `<div class="caption">${a1nRange}</div>`;
                    html += '<div>';
                    html += `<textarea class="textarea" id="${app.ViewModel.TEXT_AREA_ID}" name="text-editor" rows="10" cols="25" `
                        + `spellcheck="false" placeholder="Enter your text here..." onkeyup="Dialog.TextEditorHandler.onKeyUp(event)">`;
                    html += input || '';
                    html += '</textarea>';

                    html += '</div>';
                    e.innerHTML = html;
                },
                // renderSelectedRange method
                renderSelectedRange: ({ container, range }) => {
                    console.log('😀 renderSelectedRange', { container, range });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!range) {
                        container.innerHTML = resources.noValues;
                        return;
                    }
                    container.innerHTML = range.a1n;

                },
                // renderWorkInProgress method
                renderWorkInProgress: ({ cardKey, message }) => {
                    console.log('😀 renderWorkInProgress');
                    const viewModel = app.ViewModel;
                    viewModel.renderSubtitle({
                        cardKey: cardKey,
                        message: message
                    });
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.disableAllButtons();
                },
                // render idle state
                renderIdleState: ({ cardKey, message }) => {
                    console.log('😀 renderIdleState');
                    const viewModel = app.ViewModel;
                    viewModel.renderSubtitle({
                        cardKey: cardKey,
                        message: message
                    });
                    viewModel.renderLed({ led: '' });
                    viewModel.enableAllButtons();
                },
                // renderSubtitle method
                renderSubtitle: ({ cardKey, message }) => {
                    console.log('😀 renderSubtitle', message);
                    const container = document.getElementById(cardKey);
                    if (!container) {
                        return;
                    }

                    const subtitle1 = container.querySelector('.subtitle1');
                    const subtitle2 = container.querySelector('.subtitle2');
                    if (!subtitle1 && !subtitle2) {
                        return;
                    }
                    if (subtitle2) {
                        subtitle2.innerHTML = message;
                    }
                    else {
                        subtitle1.innerHTML = message;
                    }
                },
                // render led
                renderLed: ({ led }) => {
                    console.log('😀 renderLed', led);
                    const leds = document.getElementsByClassName("led");
                    if (!leds) {
                        leds.innerHTML = '🔘';
                    }

                    for (let i = 0; i < leds.length; i++) {
                        leds[i].innerHTML = led;
                    }
                },
                // disableAllButtons method
                disableAllButtons: () => {
                    const buttons = document.querySelectorAll('input[type="button"]');
                    console.log('😀 disableAllButtons', buttons);
                    buttons.forEach((button) => {
                        button.disabled = true;
                        button.classList.add('disabled');
                    });

                    const textAreas = document.querySelectorAll('textarea');
                    textAreas.forEach((textArea) => {
                        textArea.disabled = true;
                    });
                },
                // enableAllButtons method
                enableAllButtons: () => {
                    console.log('😀 enableAllButtons');
                    const buttons = document.querySelectorAll('input[type="button"]');
                    buttons.forEach((button) => {
                        button.disabled = false;
                        button.classList.remove('disabled');
                    });

                    const textAreas = document.querySelectorAll('textarea');
                    textAreas.forEach((textArea) => {
                        textArea.disabled = false;
                    });
                }
            },
            // CardView class
            CardView: {
                appendCard: ({ container, key, title, subtitle, content, actions, hidden }) => {
                    console.log('😀 renderCard', { container, key, title, subtitle, content, actions });
                    if (!container) {
                        return;
                    }

                    // check if the card already exists
                    const card = document.getElementById(key);
                    if (card) {
                        card.innerHTML = '';
                    }

                    let html = '';
                    // Card
                    html += `<div class="card ${hidden ? 'hidden' : ''}" id="${key}">`;
                    // Add card titlex
                    html += `  <div class="title">${title}`;
                    html += '    <div class="right led"></div>';
                    if (subtitle) {
                        html += `    <div class="subtitle1">${subtitle}</div>`;
                    }
                    html += '  </div>';
                    // Add card content
                    html += '  <div class="content body1">';
                    html += content || '';
                    html += '  </div>';
                    if (actions) {
                        // Add card actions
                        html += '  <div class="action">';
                        actions.forEach((action) => {
                            html += `    <input class="button ${action.className || 'primary'}" type="button" value="${action.label}"`
                                + ` id="${action.id}" `
                                + ` onclick="${action.handler}" />`;
                        });
                        html += '  </div>';
                    }

                    // end of card
                    html += '</div>';
                    container.innerHTML += html;
                }
            }
        };

        console.log('😀 Script load', this);
        this.App.AppHandler.start();
    })();
</script>