<!-- JavaScript -->
<script>
    const renderPage = () => {
        const container = document.getElementById("app");
        container.innerHTML = '<h1>JSON Editor for Google Sheets™️</h1>';
        container.innerHTML += '<p>JSON Editor for Google Sheets™️ is a Google Sheets Add-on that allows you to edit JSON data in a spreadsheet.</p>';
        container.innerHTML += '<input class="button" type="button" value="Validate" onclick="onValidateClick(this)" />';
        container.innerHTML += '<input class="button warn" type="button" value="Close" onclick="google.script.host.close()" />';
        container.innerHTML += '<div id="res1"></div>';
        container.innerHTML += '<div id="range" class="range"></div>';
        container.innerHTML += '<div id="report" class="report"></div>';
    };

    const renderRange = (response) => {
        const container = document.getElementById("range");
        const totalCells = (response?.range?.numRows || 1) * (response?.range?.numColumns || 1);
        container.innerHTML = '<div>';
        container.innerHTML += '<h4> Range info...</h4>';
        container.innerHTML += '<span>A1N: ' + response?.range?.a1n + '</span>';
        container.innerHTML += '<span>Total: ' + totalCells + '</span>';
        container.innerHTML += '</div>';
    };

    const renderTabelReport = (response) => {
        console.log('😀 renderTabelReport', response);
        const container = document.getElementById("report");
        if (!response?.report) {
            container.innerHTML = 'No values in the selected range';
            return;
        }
        const table = document.createElement('table');
        table.style.width = '100%';
        table.setAttribute('border', '1');
        const thead = document.createElement('thead');
        const tr = document.createElement('tr');
        const th1 = document.createElement('th');
        th1.appendChild(document.createTextNode('Row'));
        tr.appendChild(th1);
        const th2 = document.createElement('th');
        th2.appendChild(document.createTextNode('Cells'));
        tr.appendChild(th2);
        thead.appendChild(tr);
        table.appendChild(thead);
        const tbody = document.createElement('tbody');
        for (const [key, value] of Object.entries(response.report)) {
            const tr = document.createElement('tr');
            const td1 = document.createElement('td');
            td1.appendChild(document.createTextNode(parseInt(key) + 1));
            tr.appendChild(td1);
            const td2 = document.createElement('td');
            td2.appendChild(document.createTextNode(JSON.stringify(value)));
            tr.appendChild(td2);
            tbody.appendChild(tr);
        }
        table.appendChild(tbody);
        container.innerHTML = '';
        container.appendChild(table);
    };

    const renderListReport = (response) => {
        console.log('😀 renderListReport', response);
        const container = document.getElementById("report");
        if (!response?.report) {
            container.innerHTML = 'No values in the selected range';
            return;
        }
        container.innerHTML = '<div>';
        container.innerHTML += '<h4> Summary report...</h4>';
        container.innerHTML += '<ul class="report-list">';
        for (const [key, value] of Object.entries(response.report)) {
            for (const [key2, item] of Object.entries(value)) {
                container.innerHTML += '<li class="list-item">' + item.icon + ': ' + item.range + ': ' + item.error + '</li>';
            }
        }
        container.innerHTML += '</ul>';
        container.innerHTML += '</div>';
    };

    const _renderListReport = (response) => {
        console.log('😀 setValidationReport', response);
        isLoading = false;
        const container = document.getElementById("report");
        if (!response?.report) {
            container.innerHTML = 'No values in the selected range';
            return;
        }
        const table = document.createElement('table');
        table.style.width = '100%';
        table.setAttribute('border', '1');
        const thead = document.createElement('thead');
        const tr = document.createElement('tr');
        const th1 = document.createElement('th');
        th1.appendChild(document.createTextNode('Field'));
        tr.appendChild(th1);
        const th2 = document.createElement('th');
        th2.appendChild(document.createTextNode('Count'));
        tr.appendChild(th2);
        thead.appendChild(tr);
        table.appendChild(thead);
        const tbody = document.createElement('tbody');
        for (const [key, value] of Object.entries(response)) {
            const tr = document.createElement('tr');
            const td1 = document.createElement('td');
            td1.appendChild(document.createTextNode(key));
            tr.appendChild(td1);
            const td2 = document.createElement('td');
            td2.appendChild(document.createTextNode(JSON.stringify(value)));
            tr.appendChild(td2);
            tbody.appendChild(tr);
        }
        table.appendChild(tbody);
        container.innerHTML = '';
        container.appendChild(table);
    };

    window.addEventListener('load', function () {
        console.log('Page is loaded');
        renderPage();
    });

    var isLoading = false;
    function onServerSuccess(summaryReport, button) {
        const e1 = document.getElementById('res1');
        try {
            renderRange(summaryReport);
            renderTabelReport(summaryReport);
            //setValidationReport(summaryReport.resoults);
            e1.innerHTML = 'Success 😀';
        } catch (error) {
            e1.innerHTML = 'Head Error: ' + error.message;
            renderRange(null);
            //setValidationReport(null);
            renderTabelReport(null);
        }
    }

    function onServerFailure(error, button) {
        const e1 = document.getElementById('res1');
        e1.innerHTML = 'Error: ' + error.message;
        renderRange(null);
        renderTabelReport(null);
        //setValidationReport(null);
    }

    function onValidateClick(e) {
        console.log('😀 onValidateClick', e);
        isLoading = true;
        google.script.run
            .withSuccessHandler(onServerSuccess)
            .withFailureHandler(onServerFailure)
            .validateJsonOnServerSummaryReport();
    }
</script>