<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .button:hover {
        background-color: #3e8e41;
    }

    .button:active {
        background-color: #3e8e41;
    }

    .button:focus {
        outline: 0;
    }

    .message {
        margin-top: 20px;
    }

    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 4px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table thead tr {
        background-color: #AAA;
    }

    table thead tr th {
        font-size: small;
        text-align: center;
        cursor: default;
    }

    table tbody tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    table tbody tr td {
        text-align: center;
    }

    table tbody tr td:hover {
        background-color: #4CAF50;
    }

    table tbody tr td:first-child {
        background-color: #AAA;
        font-size: small;
        cursor: default;
    }

    .caption {
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        background-color: #AAA;
        text-align: center;
    }

    .report-cell {
        text-align: center;
        cursor: pointer;
    }

    .text-editor {
        margin-top: 20px;
    }

    .text-editor label {
        font-size: 16px;
        font-weight: bold;
    }

    .text-editor textarea {
        width: 100%;
        height: 150px;
        padding: 6px;
        box-sizing: border-box;
    }

    .text-editor .toolbar {
        display: block;
        margin-top: 10px;

    }

    .text-editor .text-editor .button {
        background-color: #47a7ac;
        /* Green */
        border: none;
        color: white;
        padding: 4px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .success {
        background-color: #4CAF50;
        /* Green */
    }

    .error {
        background-color: #f44336;
        /* Red */
    }

    .warn {
        background-color: #ff9800;
        /* Red */
    }

    .primary {
        background-color: #2196F3;
        /* Blue */
    }

    .primary-dark {
        background-color: #1976d2;
        /* Blue */
    }

    .accent {
        background-color: #ff4081;
        /* Blue */
    }
    
    .info {
        background-color: #00bcd4;
        /* Blue */
    }

    .secondary {
        background-color: #607d8b;
        /* Blue */
    }

    .dark {
        background-color: #333;
        /* Blue */
    }

    .light {
        background-color: #f1f1f1;
        /* Blue */
    }
</style>