body {
    font-family: Arial, sans-serif;
    margin: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 2px 0;
    margin: 0;
}

p {
    font-size: 14px;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
}

.success {
    background-color: #4CAF50 !important;
    /* Green */
}

.error {
    background-color: #f44336 !important;
    /* Red */
}

.warn {
    background-color: #ff9800 !important;
    color: #000 !important;
    /* Red */
}

.primary {
    background-color: #2196F3 !important;
    /* Blue */
}

.primary-dark {
    background-color: #1976d2 !important;
    /* Blue */
}

.accent {
    background-color: #ff4081 !important;
    /* Blue */
}

.info {
    background-color: #00bcd4 !important;
    /* Blue */
}

.secondary {
    background-color: #607d8b !important;
    /* Blue */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.hidden {
    display: none;
}