<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Json</title>
        <base target="_top">
        <?!= include('component/stylesheets/Stylesheet-card'); ?>
        <?!= include('component/stylesheets/Stylesheet'); ?>
        <?!= include('component/stylesheets/Stylesheet-dark'); ?>
    </head>
    <body>
        <div class="app" id="app"></div>
        <?!= include('component/JavaScript'); ?>
        <?!= include('component/editor/JavaScript'); ?>
    </body>
</html>