<!-- JavaScript -->
<script>

    (function () {
        const PAGE_SIZE = 3;
        //resource = 
        const addon = this;
        // Global_Resources
        const Global_Resources = {
            version: '1.0.0',
            en: {
                "appTitle": "JSON Studio",
                "loading": "Loading... please wait"
            },
            fr: {
                "appTitle": "JSON Studio",
                "loading": "Chargement... veuillez patienter"
            }
        };
        const locale = 'en';
        const resources = Global_Resources[locale];

        // Sidebar
        this.Sidebar = {
            // Model class
            AppHandler: {
                // start method
                start: (e) => {
                    console.log('😀 start', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderSidebar({ container: document.getElementById("app") });
                    viewModel.renderLoading({ container: document.getElementById("selectedRange") });
                    viewModel.disableAllButtons();
                    viewModel.renderLed({ led: '🌎' });
                    // call the server
                    google.script.run
                        .withSuccessHandler(addon.Sidebar.AppHandler.onServerSuccess)
                        .withFailureHandler(addon.Sidebar.AppHandler.onServerFailure)
                        .fetchSelectedRange();
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 onClick', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    if (e.target.id === 'validate') {
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        addon.Sidebar.ReportHandler.start({
                            container: document.getElementById("response"),
                            range: document.getElementById("selectedRange").innerText
                        });
                    }
                },
                // onServerSuccess method
                onServerSuccess: (response) => {
                    console.log('😀 onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderSelectedRange({
                        container: document.getElementById("selectedRange"),
                        range: response.range
                    });

                    addon.Sidebar.ReportHandler.start({
                        container: document.getElementById("response"),
                        range: response.range
                    });
                },
                // onServerFailure method
                onServerFailure: (response) => {
                    console.log('😀 onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // alert the error message
                    alert(response.message);
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // ReportHandler class
            ReportHandler: {
                start: ({ container, range }) => {
                    console.log('😀 ReportHandler.start', { container, range });
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.disableAllButtons();
                    viewModel.renderLed({ led: '🟡' });
                    // call the server
                    google.script.run
                        .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                        .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                        .doValidationReport({
                            pageSize: PAGE_SIZE,
                            offset: 0
                        });
                },
                onClick: (e) => {
                    console.log('😀 onClick', e);
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderLed({ led: '🟡' });
                    viewModel.disableAllButtons();
                    if (e.target.id === "minifyAll") {
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0,
                                formatPattern: 'minify'
                            });
                    }
                    else if (e.target.id === 'prittfyAll') {
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0,
                                formatPattern: 'prittfy'
                            });
                    }
                    else if (e.target.id === 'highlightAll') {
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0
                            });
                    }
                    else if (e.target.id === 'focus') {
                        viewModel.disableAllButtons();
                        viewModel.renderLed({ led: '🟡' });
                        google.script.run
                            .withSuccessHandler(addon.Sidebar.ReportHandler.onServerSuccess)
                            .withFailureHandler(addon.Sidebar.ReportHandler.onServerFailure)
                            .doValidationReport({
                                pageSize: PAGE_SIZE,
                                offset: 0
                            });
                    }
                },
                onServerSuccess: (response) => {
                    console.log('😀 ReportHandler.onServerSuccess', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderValidateResponse({
                        container: document.getElementById("response"),
                        response
                    });
                    viewModel.renderPagination({
                        container: document.getElementById("pagination"),
                        response
                    });
                    viewModel.renderLed({ led: '🟢' });
                    viewModel.enableAllButtons();
                },
                onServerFailure: (response) => {
                    console.log('😀 ReportHandler.onServerFailure', response);
                    const viewModel = addon.Sidebar.ViewModel;
                    // render the page with the response
                    viewModel.renderValidateResponse({
                        container: document.getElementById("response"),
                        response
                    });
                    viewModel.renderLed({ led: '🔴' });
                    viewModel.enableAllButtons();
                }
            },
            // 
            TextEditorHandler: {
                // start method
                start: ({ container, cell }) => {
                    console.log('😀 TextEditorHandler.start', { container, cell });
                    // render the text editor using viewModel
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.renderTextEditor({
                        container: container,
                        a1nRange: cell.range,
                        input: cell.input,
                        message: cell.message
                    });
                    addon.Sidebar.TextEditorHandler.onKeyUp({ target: container.querySelector('#textArea') });
                },
                // onKeyUp method
                onKeyUp: (e) => {
                    console.log('😀 TextEditorHandler.onKeyUp', e);
                    // validate the input
                    const text = e.target.value;
                    let isValid = true;
                    const editorAreaDiv = document.getElementById("text-editor");
                    const feedbackDiv = editorAreaDiv.querySelector('.feedback');
                    try {
                        JSON.parse(text);
                        // clear the error message
                        feedbackDiv.innerHTML = '';
                        feedbackDiv.classList.remove('error');
                    } catch (error) {
                        isValid = false;
                        // show the error message
                        feedbackDiv.innerHTML = error.message;
                        feedbackDiv.classList.add('error');
                    }
                },
                // onClick method
                onClick: (e, a1n) => {
                    console.log('😀 TextEditorHandler.onClick', { e, a1n });
                    const viewModel = addon.Sidebar.ViewModel;
                    viewModel.disableAllButtons();
                    const target = e.target;
                    if (target.id === 'prittfy') {
                        console.log('😀 prittfy', a1n);
                        const text = document.getElementById('textArea').value;
                        google.script.run
                            .withSuccessHandler((response) => {
                                console.log('😀 prettyPrintCell', response);
                                viewModel.renderTextEditor({
                                    container: document.getElementById("text-editor"),
                                    a1nRange: a1n,
                                    input: response.input,
                                    message: response.message
                                });
                                viewModel.enableAllButtons();
                            })
                            .withFailureHandler((response) => {
                                console.log('😀 prettyPrintCell', response);
                                viewModel.enableAllButtons();
                            })
                            .prettyPrintCell(a1n, text);
                    }
                    else if (target.id === 'minify') {
                        console.log('😀 minify', a1n);
                        const text = document.getElementById('textArea').value;
                        google.script.run
                            .withSuccessHandler((response) => {
                                console.log('😀 minifyCell', response);
                                viewModel.renderTextEditor({
                                    container: document.getElementById("text-editor"),
                                    a1nRange: a1n,
                                    input: response.input,
                                    message: response.message
                                });
                                viewModel.enableAllButtons();
                            })
                            .withFailureHandler((response) => {
                                console.log('😀 minifyCell', response);
                                viewModel.enableAllButtons();
                            })
                            .minifyCell(a1n, text);
                    }
                    else if (target.id === 'highlight') {
                        console.log('😀 highlight', a1n);
                        google.script.run.highlightCell(a1n);
                        viewModel.enableAllButtons();
                    }
                    else if (target.id === 'save') {
                        console.log('😀 save');
                        const text = document.getElementById('textArea').value;
                        google.script.run
                            .withSuccessHandler((response) => {
                                console.log('😀 saveCell', response);
                                viewModel.enableAllButtons();
                            })
                            .withFailureHandler((response) => {
                                console.log('😀 saveCell', response);
                                viewModel.enableAllButtons();
                            })
                            .saveCell(a1n, text);
                    }
                    else if (target.id === 'cancel') {
                        console.log('😀 cancel');
                        // hide the text editor card
                        document.getElementById("text-editor").classList.add('hidden');
                        viewModel.enableAllButtons();
                    }
                    else {
                        console.log('😀 unknown', a1n);
                        viewModel.enableAllButtons();
                    }
                }
            },
            // View class
            ViewModel: {
                start: () => {
                    console.log('😀 ViewModel.start');
                    Sidebar.ViewModel.renderSidebar({ container: document.getElementById("app") });
                },
                // renderSidebar method
                renderSidebar: ({ container = document.getElementById("app") }) => {
                    console.log('😀 renderSidebar', { container });
                    if (!container) {
                        return;
                    }
                    let html = '';
                    // Add container
                    html += '<div class="container">';
                    // Add sidebar header
                    html += '<div class="container flex"><span id="led">🟢🔘🔴🟡🟠</span></div>';
                    // ### 1. Add card
                    html += '<div class="card">';
                    // Add card title
                    html += `<div class="title">${resources.appTitle}</div>`;
                    // Add card subtitle
                    html += '<p class="subtitle">To start, select a range of cells and click the "Validate" button.</p>';
                    // Add card content
                    html += '<div class="card-content"></div>';
                    // Add card actions
                    html += '<div id="action" class="container flex">';
                    // Add Validation button
                    html += '   <div class="toolbar"><input class="button primary" type="button" id="validate" value="Validate" onclick="Sidebar.AppHandler.onClick(event)" /></div>';
                    html += '   <div id="selectedRange" class="range"></div>';
                    html += '</div>';
                    // end of card
                    html += '</div>';
                    // ### 2, Add response card
                    html += '<div id="response" class="card hidden">';
                    // Add card title
                    html += '  <div class="title">Validation summary report</div>';
                    // Add card content
                    html += '  <div class="card-content">';
                    html += '    <div id="summary" class="summary"></div>';
                    html += '    <div id="report" class="report"></div>';
                    html += '  </div>';
                    // Add Action bar
                    html += '<div id="rangeActionBar" class="action">';
                    // Add Minify All button
                    html += '  <input class="button primary" type="button" id="minifyAll" value="Minify All" onclick="Sidebar.ReportHandler.onClick(event)" />';
                    // Add Prittfy All button
                    html += '  <input class="button primary" type="button" id="prittfyAll" value="Prittfy All" onclick="Sidebar.ReportHandler.onClick(event)" />';
                    // Add focus range button
                    html += '  <input class="button primary" type="button" id="focus" value="Focus" onclick="Sidebar.ReportHandler.onClick(event)" />';
                    // Add Highlight All button
                    html += '  <input class="button primary" type="button" id="highlightAll" value="Highlight All" onclick="Sidebar.ReportHandler.onClick(event)" />';
                    // end of action bar
                    html += '</div>';
                    // end of response card
                    html += '</div>';

                    // ### 3. Add text editor card
                    html += '<div class="card hidden" id="text-editor">';
                    // Add card title
                    html += '  <div class="title">Text Editor</div>';
                    // Add card content
                    html += '  <div class="content"></div>';
                    // Add card actions
                    html += '  <div class="action"><div id="pagination" class="pagination"></div></div>';
                    // end of text editor card
                    html += '</div>';
                    // end of container
                    html += '</div>';

                    container.innerHTML = html;
                },
                // renderSelectedRange method
                renderSelectedRange: ({ container, range }) => {
                    console.log('😀 renderSelectedRange', { container, range });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!range) {
                        container.innerHTML = 'No values in the selected range';
                        return;
                    }
                    container.innerHTML = range.a1n;
                },
                // renderResponse method
                renderValidateResponse: ({ container, response }) => {
                    console.log('😀 renderResponse', { container, response });
                    if (!container) {
                        return;
                    }
                    if (!response) {
                        const summary = document.getElementById("summary");
                        summary.innerHTML = 'No values in the selected range';
                        return;
                    }

                    // show the response card
                    container.classList.remove('hidden');

                    // render summary
                    if (response?.range) {
                        Sidebar.ViewModel.renderSummary({
                            container: container.querySelector('#summary'),
                            response
                        });
                    }

                    // render report
                    if (response?.report) {
                        Sidebar.ViewModel.renderTabelReport({
                            container: container.querySelector('#report'),
                            response
                        });
                    }
                },
                // renderPagination method
                renderPagination: ({ container, response }) => {
                    console.log('😀 renderPagination', { container, response });
                    if (!container) {
                        return;
                    }
                    if (!response?.nextRowOffset) {
                        return;
                    }
                    if (response.nextRowOffset) {
                        container.innerHTML += `<input class="button primary" type="button" id="next" value="Next" `
                            + `onclick="Sidebar.AppHandler.onClick(event, ${response.nextRowOffset}, '${response.range.a1n}')" />`;
                    }
                },
                // renderSummary method
                renderSummary: ({ container, response }) => {
                    console.log('😀 renderSummary', { container, response });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!response?.range) {
                        container.innerHTML = 'No values in the selected range';
                        return;
                    }
                    const page = response.page;
                    const totalCells = (page.rows?.length || 1) * (page.columns?.length || 1);
                    const totalSuccess = response.report.reduce((acc, row) => {
                        return acc + row.reduce((acc, col) => {
                            return acc + (col.icon === '✅' ? 1 : 0);
                        }, 0);
                    }, 0);
                    const totalFail = totalCells - totalSuccess;
                    container.innerHTML = '<h2>Summary</h2>';
                    container.innerHTML += `<span class="info">Sum. ${totalCells}</span>`;
                    container.innerHTML += ` (<span class="success">${totalSuccess}</span>`;
                    container.innerHTML += `/<span class="error">${totalFail}</span>)`;
                    container.innerHTML += `<div class="caption">${page.a1n}</div>`;
                },
                // renderTabelReport method
                renderTabelReport: ({ container, response }) => {
                    console.log('😀 renderTabelReport', { container, response });
                    if (!container) {
                        return;
                    }
                    container.innerHTML = '';
                    if (!response?.report) {
                        container.innerHTML = 'No values in the selected range';
                        return;
                    }
                    const columns = response?.page?.columns || [];
                    const rows = response?.page?.rows || [];
                    const table = document.createElement('table');
                    table.style.width = '100%';
                    table.setAttribute('border', '1');
                    const thead = document.createElement('thead');
                    const trh = document.createElement('tr');
                    trh.appendChild(document.createElement('th'));
                    columns.forEach((col) => {
                        const th = document.createElement('th');
                        th.appendChild(document.createTextNode(col));
                        trh.appendChild(th);
                    });
                    thead.appendChild(trh);
                    table.appendChild(thead);
                    const tbody = document.createElement('tbody');
                    for (const [key1, row] of Object.entries(response.report)) {
                        const tr = document.createElement('tr');
                        const td1 = document.createElement('td');
                        td1.appendChild(document.createTextNode(rows[key1]));
                        tr.appendChild(td1);
                        for (const [key2, col] of Object.entries(row)) {
                            const td2 = document.createElement('td');
                            td2.appendChild(document.createTextNode(col.icon));
                            td2.classList.add('report-cell');
                            td2.title = col.message;
                            td2.addEventListener('click', (e) => {
                                console.log('😀 report-cell click', e);
                                addon.Sidebar.TextEditorHandler.start({
                                    container: document.getElementById("text-editor"),
                                    cell: col
                                });
                            });
                            tr.appendChild(td2);
                        }
                        tbody.appendChild(tr);
                    }
                    table.appendChild(tbody);
                    container.appendChild(table);
                },
                // renderTextEditor method
                renderTextEditor: ({ container, a1nRange, input, message }) => {
                    console.log('😀 renderTextEditor', { container, a1nRange, input });
                    if (!container) {
                        return;
                    }
                    if (!a1nRange) {
                        container.innerHTML = '';
                        return;
                    }

                    // show the text editor card
                    container.classList.remove('hidden');

                    let html = '';
                    html += `<div class="caption">${a1nRange}</div>`;
                    html += '<div>';
                    html += `<textarea class="textarea" id="textArea" name="textArea" rows="20" cols="30" `
                        + `onkeyup="Sidebar.TextEditorHandler.onKeyUp(event)" `
                        + `>${input || ''}</textarea>`;
                    html += '<div>';
                    html += `<div class="feedback">${message}</div>`
                    html += '<input class="button button-small primary" type="button" id="prittfy" value="Prittfy" '
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '<input class="button button-small primary" type="button" id="minify" value="Minify" '
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '<input class="button button-small info" type="button" id="highlight" value="Highlight" '
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '</div>';
                    html += '<div>';
                    html += '<input class="button accent" type="button" id="cancel" value="Cancel" '
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '<input class="button accent" type="button" id="save" value="Save" '
                        + `onclick="Sidebar.TextEditorHandler.onClick(event, '${a1nRange}')" />`;
                    html += '</div>';
                    html += '</div>';
                    container.querySelector('.content').innerHTML = html;
                },
                // renderLoading method
                renderLoading: ({ container }) => {
                    console.log('😀 renderLoading', container);
                    container.innerHTML = '<div class="loading" id="loading">Loading... please wait</div>';
                },
                // render led
                renderLed: ({ led }) => {
                    console.log('😀 renderLed', led);
                    const container = document.getElementById("led");
                    if (!container) {
                        container.innerHTML = '🔘';
                    }
                    container.innerHTML = led;
                },
                // disableAllButtons method
                disableAllButtons: () => {
                    const buttons = document.querySelectorAll('input[type="button"]');
                    console.log('😀 disableAllButtons', buttons);
                    buttons.forEach((button) => {
                        button.disabled = true;
                        button.classList.add('disabled');
                    });
                },
                // enableAllButtons method
                enableAllButtons: () => {
                    console.log('😀 enableAllButtons');
                    const buttons = document.querySelectorAll('input[type="button"]');
                    buttons.forEach((button) => {
                        button.disabled = false;
                        button.classList.remove('disabled');
                    });
                }
            },

        };

        console.log('😀 Script load', this);
        this.Sidebar.AppHandler.start();
    })();
</script>