<style>
    body {
        font-family: Arial, sans-serif;
        margin: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 2px 0;
        margin: 0;
    }

    p {
        font-size: 14px;
        padding: 0 0 8px 0;
        margin: 0 0 8px 0;
    }

    table {
        /* freeze the first column */
        table-layout: fixed;
        /* allow the rows to be scrolled */
        overflow-y: scroll;
        /* set the height of the table */
        max-height: 250px;
        /* set the width of the table */
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        width: auto;
    }

    th {
        background-color: #AAA;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    td {
        font-size: 14px;
        text-align: center;
    }

    /* set the width of the first column */
    th:first-child,
    td:first-child {
        width: 48px;
        background-color: #AAA;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .feedback {
        font-size: 14px;
        text-align: left;
    }

    .button {
        border: none;
        color: white;
        padding: 4px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button-small {
        padding: 2px 8px;
        font-size: 12px;
        margin: 0 1px;
    }

    .button:hover {
        background-color: #3e8e41;
    }

    .button:active {
        background-color: #3e8e41;
    }

    .button.disabled {
        background-color: #ccc;
    }

    .button-primary {
        background-color: #2196F3;
        /* Blue */
    }

    .report {
        width: 100%;
        border-collapse: collapse;
    }

    .caption {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        background-color: #AAA;
        text-align: center;
    }

    .report-cell {
        text-align: center;
        cursor: pointer;
    }

    .text-editor {
        margin-top: 20px;
    }

    .text-editor label {
        font-size: 16px;
        font-weight: bold;
    }

    /* show line numbers left of each line in the textarea value */
    .textarea {
        font-family: monospace;
        font-size: 14px;
        line-height: 1.5;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        height: 250px;
        padding: 2px 8px;
        resize: vertical;
        background-color: #f1f1f1;
        overflow-y: scroll;
    }

    .text-editor .toolbar {
        display: block;
        margin-top: 10px;

    }

    .success {
        background-color: #4CAF50;
        /* Green */
    }

    .error {
        background-color: #f44336;
        /* Red */
    }

    .warn {
        background-color: #ff9800;
        /* Red */
    }

    .primary {
        background-color: #2196F3;
        /* Blue */
    }

    .primary-dark {
        background-color: #1976d2;
        /* Blue */
    }

    .accent {
        background-color: #ff4081;
        /* Blue */
    }

    .info {
        background-color: #00bcd4;
        /* Blue */
    }

    .secondary {
        background-color: #607d8b;
        /* Blue */
    }

    .dark {
        background-color: #333;
        /* Blue */
    }

    .light {
        background-color: #f1f1f1;
        /* Blue */
    }

    .subtitle {
        padding: 0;
        font-size: 14px;
    }

    .body1 {
        padding: 2px 8px;
        font-size: 16px;
    }

    .body2 {
        padding: 2px 8px;
        font-size: 14px;
        font-style: italic;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .right {
        justify-content: flex-end;
    }

    .left {
        justify-content: flex-start;
    }

    .center {
        justify-content: center;
    }
    
    .card {
        padding: 16px;
        margin: 8px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #f1f1f1;
        width: 100%;
        color: #333 !important;
    }

    .card .title {
        font-size: 16px;
        font-weight: bold;
    }

    .card .subtitle {
        font-size: 14px;
    }

    .card .content {
        /* top border */
        border-top: 1px solid #ccc;
        font-size: 14px;
    }

    .card .action {
        /* top border */
        border-top: 1px solid #ccc;
        font-size: 14px;
    }
    
    .label {
        font-size: 9px;
        font-weight: bold;
        padding: 2px;
        margin-right: 2px;
        cursor: default;
    }

    .hidden {
        display: none;
    }
</style>